<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SE.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,120},{6,21}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{6,21}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>SN.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{26,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>SNE.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,153},{6,13}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,21},{6,13}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>SNW.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,105},{14,13}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{14,13}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>SSE.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,138},{6,13}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{6,13}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>SSW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{12,13}}</string>
                <key>offset</key>
                <string>{-7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{12,13}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>SW.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,80},{14,23}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{14,23}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>bridge.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,136},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,74}</string>
            </dict>
            <key>bushes.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,80},{26,33}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>carrots.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,52},{26,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,74}</string>
            </dict>
            <key>egg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{12,20}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{12,20}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>egg_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,128},{12,20}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{12,20}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>flowers.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{26,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,74}</string>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,80},{26,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,74}</string>
            </dict>
            <key>gravel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{26,33}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,53}</string>
            </dict>
            <key>landing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,74}</string>
            </dict>
            <key>landing_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,108},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,74}</string>
            </dict>
            <key>player_bunny_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{26,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,41}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>player_bunny_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,30},{20,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{20,39}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>player_bunny_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,30},{20,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{20,39}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>player_bunny_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{22,41}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,41}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,52},{26,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,74}</string>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,54}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,54}}</string>
                <key>sourceSize</key>
                <string>{26,74}</string>
            </dict>
            <key>water.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,108},{26,32}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iphone_puzzle.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2daaa87fc0818f6b50d452ba2f7630f$</string>
            <key>textureFileName</key>
            <string>iphone_puzzle.png</string>
        </dict>
    </dict>
</plist>
